Project/.gradle
Project/build
Project/bin
Project/src/docs/asciidoc/generated

# Ignore Eclipse files
Project/.project
Project/.settings
Project/.classpath

# Ignore Idea files
Project/Project.iml
Project/.idea
Project/Project.ipr
Project/Project.iws

# Ignore Gradle GUI config
Project/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
