Proyect/.gradle
Proyect/build
Proyect/bin
Proyect/.project
Proyect/.settings
Proyect/.classpath

# Ignore Gradle GUI config
Proyect/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
